/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-image: url("./images/login.jpg");
    margin: 0px;
    padding: 0px;
}
/* }
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy .mat-form-field-ripple,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-underline,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-ripple {
    background-color: #063f80;
}

/** Overrides label color **/
/* .my-form-field.mat-form-field-appearance-legacy .mat-form-field-label,
.my-form-field.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-label {
    color: #063f80;
    font-size: 1rem;
    font-family: 'Didact Gothic';
} */

/** Overrides caret & text color **/
/* .my-form-field.mat-form-field-appearance-legacy .mat-input-element { */
  /* caret-color: grey;
  color: grey; */
  /* font-family: 'Didact Gothic'
}  */
